<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <display-name>eCommerce_Perfumes</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ManutencaoProduto</display-name>
    <servlet-name>ManutencaoProduto</servlet-name>
    <servlet-class>br.com.eCommerce_Perfumes.Servlet.ManutencaoProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManutencaoProduto</servlet-name>
    <url-pattern>/ManutencaoProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.eCommerce_Perfumes.Servlet.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManutencaoCliente</display-name>
    <servlet-name>ManutencaoCliente</servlet-name>
    <servlet-class>br.com.eCommerce_Perfumes.Servlet.ManutencaoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManutencaoCliente</servlet-name>
    <url-pattern>/ManutencaoCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalizarPedidoServlet</display-name>
    <servlet-name>FinalizarPedidoServlet</servlet-name>
    <servlet-class>br.com.eCommerce_Perfumes.webjbdc.controller.FinalizarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalizarPedidoServlet</servlet-name>
    <url-pattern>/FinalizarPedidoServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>ManutencaoClienteController</servlet-name>
    <servlet-class>br.com.eCommerce_Perfumes.webjbdc.controller.ManutencaoClienteController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ManutencaoClienteController</servlet-name>
    <url-pattern>/clientes/manutencao</url-pattern>
</servlet-mapping>
</web-app>